@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/030/709/517/small_2x/a-dj-immersed-in-the-art-of-mixing-hands-deftly-move-turntables-to-create-a-symphony-of-beats-generative-ai-free-photo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
